<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.model.User">
        <id column="uid" property="uid" />
        <result column="uname" property="uname" />
        <result column="upwd" property="upwd" />
        <result column="uimg" property="uimg" />
        <result column="utelnum" property="utelnum" />
        <result column="usex" property="usex" />
        <result column="ubirthday" property="ubirthday" />
        <result column="uaddr" property="uaddr" />
        <result column="utype" property="utype" />
        <result column="b1" property="b1" />
        <result column="b2" property="b2" />
        <result column="b3" property="b3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, uname, upwd, uimg, utelnum, usex, ubirthday, uaddr, utype, b1, b2, b3
    </sql>

</mapper>
